body {
    background-color: rgb(22, 220, 22);
    color: linen;
    font-size: 150%;
    line-height: 1.4;
}

h1{
    margin-top:0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #AEB7A7;
}

h3{
    margin:0px;
    color: rgb(206, 216, 167);
}

h2{
    margin:15px;
}

#main {
    padding: 20px;
}

a {
    color: rgb(50, 118, 63);
    text-decoration: none;
}

a:visited {
    color: rgb(159, 19, 128);
    text-decoration: none;
}

img{
    padding: 50px;
}

.headshot{
    float:right;
    height: 36px;
    padding-top:30px;
}

.textbox {
    width:170%;
    color: orange;
    font-size: 110%;
    background:green;
    padding: 4px;
    border:1px solid white;
}

.button {
    background: blue;
    font-size: 1100%;
    color:yellow;
    padding: 40px;
    border:2px solid purple;
}

.redacted{
    background-color: rgb(0, 0, 0);
    color:  rgb(25, 26, 199);
}

.half{
    width: 8%;
    float: left;
}

.box { 
    width: 50px;
    margin: 150px;
    display: inline-block;
    vertical-align: top;   
}
.box img{
    margin: 0;
    padding: 0;
    width: 100%;
}
